<%= render blacklight_config.track_search_session.applied_params_component.new if blacklight_config.track_search_session.applied_params_component %>
<%= render 'show_main_content' %>

<script src="https://kit.fontawesome.com/8d9abf5160.js" crossorigin="anonymous"></script>
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" > -->

<div class="classification" style="margin-top: 2vh">
  <!--CLASSIFICATION-->
  <h3 class="separator_head">CLASSIFICATION</h3>
  <% if @document.id.present? %>
    <div class="row">
      <dt class="subheading col-md-3">Swallow ID:</dt>
      <dd class="col-md-9 subheading_values">
        <%= @document.id %>
      </dd>
    </div>
  <% end %>

  <% if @document.partnerInstitution.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Partner Institution:</dt>
    <dd class="col-md-9 subheading_values">
        <%= @document.partnerInstitution %>
    </dd>
  </div>
  <% end %>

  <% if @document.source_collection_label.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Source Collection Title:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.source_collection_label %>
    </dd>
  </div>
  <% end %>

  <% if @document['collection_source_collection_id'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Source Collection ID:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['collection_source_collection_id'].first %>
     </dd>
   </div>
   <% end %>


  <% if @document['collection_source_collection_description'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Source Collection Description:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['collection_source_collection_description'].first %>
     </dd>
   </div>
   <% end %>

  <% if @document['collection_contributing_unit'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Source Collection Contributing Unit:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['collection_contributing_unit'].first %>
     </dd>
   </div>
   <% end %>

  <% if @document['source_collection_uri'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Source Collection URI:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['source_collection_uri'].first %>
     </dd>
   </div>
   <% end %>

  <% if @document['collection_image_url'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Source Collection Image URL:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['collection_image_url'].first %>
     </dd>
   </div>
   <% end %>

  <% if @document.item_series_title.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Series Title:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_series_title %>
    </dd>
  </div>
  <% end %>

  <% if @document['item_series_description'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Series Description:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['item_series_description'].first %>
     </dd>
   </div>
   <% end %>

  <% if @document['item_series_wikidata_url'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Series Wikidata URL:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['item_series_wikidata_url'].first %>
     </dd>
   </div>
   <% end %>

  <% if @document['item_series_uri'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Series URI:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['item_series_uri'].first %>
     </dd>
   </div>
   <% end %>

  <% if @document.item_subseries_title.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Sub Series Title:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_subseries_title %>
    </dd>
  </div>
  <% end %>

  <% if @document['item_subseries_description'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Sub Series Description:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['item_subseries_description'].first %>
     </dd>
   </div>
   <% end %>

  <% if @document['item_subseries_uri'].present? %>
     <div class="row">
     <dt class="subheading col-md-3">Sub Series URI:</dt>
     <dd class="col-md-9 subheading_values">
           <%= @document['item_subseries_uri'].first %>
     </dd>
   </div>
   <% end %>

  <hr class="solid-line">

  <!--Item Descirption-->
  <h3 class="separator_head">ITEM DESCRIPTION</h3>
  <% if @document.item_title.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Title:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_title %>
    </dd>
  </div>
  <% end %>

  <% if @document.item_title_source.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Title Source:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_title_source %>
    </dd>
  </div>
  <% end %>
  <% if @document.item_title_note.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Title Note:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_title_note %>
    </dd>
  </div>
    <% end %>
    <% if @document.item_language.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Language:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_language %>
    </dd>
  </div>
      <% end %>
      <% if @document.item_production_context.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Production Context:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_production_context %>
    </dd>
  </div>
 <% end %>
        <% if @document.item_genre.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Genre:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_genre %>
    </dd>
  </div>
  <% end %>
    <% if @document.persistent_url.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Persistent URL:</dt>
    <dd class="col-md-9 subheading_values">
      <a href="<%= @document.persistent_url %>" target="_blank"><%=  @document.persistent_url %></a>

    </dd>
  </div>
   <% end %>
   <% if @document.item_identifiers.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Identifiers:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.item_identifiers %>
    </dd>
  </div>
  <% end %>
  <hr class="solid-line">


<!--Rights-->

  <h3 class="separator_head">Rights</h3>

  <% if @document.rights.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Rights:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.rights %>
    </dd>
  </div>
  <% end %>
  <% if @document.rights_license.present? %>
  <div class="row">
    <dt class="subheading col-md-3">License:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.rights_license %>
    </dd>
  </div>
  <% end %>
  <% if @document.rights_notes.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Notes:</dt>
    <dd class="col-md-9 subheading_values">
      <%= @document.rights_notes %>
    </dd>
  </div>
  <% end %>

  <%# if @document.rights_access.present? %>
<!--    <div class="row">-->
<!--      <dt class="subheading col-md-3">Acceess:</dt>-->
<!--      <dd class="col-md-9 subheading_values">-->
        <%#= @document.rights_access %>
<!--      </dd>-->
<!--    </div>-->
  <%# end %>

  <hr class="solid-line">

<!--Creators-->
  <h3 class="separator_head">CREATORS</h3>
  <% JSON.parse(@document.creators).each do |creator| %>

  <% if creator["name"].present? %>
  <div class="row">
    <dt class="subheading col-md-3">Name:</dt>
    <dd class="col-md-9 subheading_values">
      <%= creator["name"]%>
    </dd>
  </div>
    <% end %>
    <% if creator["dates"].present? %>
  <div class="row">
    <dt class="subheading col-md-3">Dates:</dt>
    <dd class="col-md-9 subheading_values">
      <%= creator["dates"] %>
    </dd>
  </div>
    <% end %>
    <% if creator["url"].present? %>
  <div class="row">
    <dt class="subheading col-md-3">URL:</dt>
    <dd class="col-md-9 subheading_values">
      <a href="<%= creator["url"] %>" target="_blank"><%=  creator["url"] %></a>
    </dd>
  </div>
    <% end %>
    <% if creator["role"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Role:</dt>
      <dd class="col-md-9 subheading_values">
      <% creator["role"].each_with_index do |role, index| %>
        "<%= role %>"<%= ',' unless index == creator["role"].length - 1 %>
        <%end %>
      </dd>
    </div>
    <% end %>
    <% if creator["nation"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Nation:</dt>
      <dd class="col-md-9 subheading_values">
        <%= creator["nation"]%>
      </dd>
    </div>
    <% end %>
    <% if creator["notes"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Notes:</dt>
      <dd class="col-md-9 subheading_values">
        <%= creator["notes"] %>
      </dd>
    </div>
    <% end %>
    <hr class="solid-line">
<% end %>

<!--Contributors-->
  <h3 class="separator_head">CONTRIBUTORS</h3>
  <%  JSON.parse(@document.contributors) %>
  <% JSON.parse(@document.contributors).each do |contributor| %>

  <% if contributor["name"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Name:</dt>
      <dd class="col-md-9 subheading_values">
        <%= contributor["name"]%>
      </dd>
    </div>
    <% end %>
    <% if contributor["dates"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Dates:</dt>
      <dd class="col-md-9 subheading_values">
        <%= contributor["dates"] %>
      </dd>
    </div>
    <% end %>
    <% if contributor["url"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">URL:</dt>
      <dd class="col-md-9 subheading_values">

        <a href="<%= contributor["url"] %>" target="_blank"><%=  contributor["url"] %></a>
      </dd>
    </div>
    <% end %>
    <% if contributor["role"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Role:</dt>
      <dd class="col-md-9 subheading_values">
      <% contributor["role"].each_with_index do |role, index| %>
        "<%= role %>"<%= ',' unless index == contributor["role"].length - 1 %>
        <%end %>
      </dd>
    </div>
    <% end %>
    <% if contributor["nation"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Nation:</dt>
      <dd class="col-md-9 subheading_values">
        <%= contributor["nation"]%>
      </dd>
    </div>
    <% end %>
    <% if contributor["notes"] .present? %>
    <div class="row">
      <dt class="subheading col-md-3">Notes:</dt>
      <dd class="col-md-9 subheading_values">
        <%= contributor["notes"] %>
      </dd>
    </div>
    <% else %>
      <hr class="solid-line">
    <% end %>
    <hr class="solid-line">
  <% end %>

<!--  Material Description-->
  <h3 class="separator_head">MATERIAL DESCRIPTION</h3>
  <% JSON.parse(@document.material_description).each do |material| %>

  <% if material["image"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Image:</dt>
      <dd class="col-md-9 subheading_values">
        <% concatenated_text = "https://swallow.library.concordia.ca/#{material["image"]}" %>
        <img src="<%= concatenated_text %>" alt="Image" height="500" width="500">

      </dd>
    </div>
    <% end %>
    <% if material["recording_type"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Recording Type:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["recording_type"] %>
      </dd>
    </div>
    <% end %>
    <%# if material["AV_types"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">AV Type:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["AV_types"]%>
      </dd>
    </div>
    <%# end %>
    <% if material["material_designation"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Material Designation:</dt>
      <dd class="col-md-9 subheading_values">


        <%= material['material_designation'] %>
      </dd>
    </div>
    <% end %>
    <% if material["physical_composition"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Physical Composition:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["physical_composition"]%>
      </dd>
    </div>
    <% end %>
    <% if material["storage_capacity"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Storage Capacity:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["storage_capacity"] %>
      </dd>
    </div>
    <% end %>
    <% if material["extent"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Extent:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["extent"]%>
      </dd>
    </div>
    <% end %>
    <% if material["side"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Side:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["side"] %>
      </dd>
    </div>
    <% end %>
    <% if material["playing_speed"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Playing Speed:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["playing_speed"]%>
      </dd>
    </div>
    <% end %>
    <% if material["track_configuration"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Track Configuration:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["track_configuration"] %>
      </dd>
    </div>
    <% end %>
    <% if material["playback_mode"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Playback Mode:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["playback_mode"]%>
      </dd>
    </div>
    <% end %>
    <% if material["equalization"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Equalization:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["equalization"] %>
      </dd>
    </div>
    <% end %>
    <% if material["generations"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Generations:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["generations"]%>
      </dd>
    </div>
    <% end %>
    <% if material["tape_brand"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Tape Brand:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["tape_brand"] %>
      </dd>
    </div>
    <% end %>
    <% if material["sound_quality"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Sound Quality:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["sound_quality"]%>
      </dd>
    </div>
    <% end %>
    <% if material["physical_condition"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Physical Condition:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["physical_condition"] %>
      </dd>
    </div>
    <% end %>
    <% if material["Conservation"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Conservation:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["Conservation"]%>
      </dd>
    </div>
    <% end %>
    <% if material["other_physical_description"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Other Physical Description:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["other_physical_description"] %>
      </dd>
    </div>
    <% end %>
    <% if material["Accompanying Material"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Accompanying Material:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["Accompanying Material"]%>
      </dd>
    </div>
    <% end %>
    <% if material["other"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Other:</dt>
      <dd class="col-md-9 subheading_values">
        <%= material["other"] %>
      </dd>
    </div>
    <% end %>
    <hr class="solid-line">
  <% end %>

  <h3 class="separator_head">DIGITAL FILE DESCRIPTION</h3>
  <%  if @document.digital_description.present? %>
  <% JSON.parse(@document.digital_description).each do |digital| %>

  <% if digital["file_url"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">File URL:</dt>
      <dd class="col-md-9 subheading_values">
          <a href="<%= digital["file_url"] %>" target="_blank"><%=  digital["file_url"] %></a>
          <div class="custom-audio-player" style="margin-top: 11px;">
            <a class="advanced_search btn btn-secondary show-content" id="show-content" data-bs-toggle="modal" data-bs-target="#iframe-audio-play"
               data-file-link="<%= digital["file_url"] %>">Show
              Content</a>
          </div>
      </dd>
    </div>
    <% end %>

  <% if digital["public_access_url"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Public Access URL:</dt>
      <dd class="col-md-9 subheading_values">
          <a href="<%= digital["public_access_url"] %>" target="_blank"><%=  digital["public_access_url"] %></a>
      </dd>
    </div>
    <% end %>


      <% if digital["file_path"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">File Path:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["file_path"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["Filename"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">filename:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["Filename"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["channel_field"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Channel Field:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["channel_field"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["sample_rate"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Sample Rate:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["sample_rate"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["precision"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Precision:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["precision"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["duration"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Duration:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["duration"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["size"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Size:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["size"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["bitrate"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Bitrate:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["bitrate"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["encoding"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Encoding:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["encoding"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["contents"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Content:</dt>
      <dd class="col-md-9 preserve_line_break subheading_values">
        <% link_pattern = /\[https:\/\/([^ \]]+)\]/ %>
        <% text_with_links = digital["contents"].gsub(link_pattern) do |match| %>
          <% url = $1 %>
          <% "<a href='https://#{url}' target='_blank' data-bs-toggle='tooltip' data-bs-placement='top' title='#{url}' style='display: inline-block;'>
            <i style='font-size: 12px; color: #9C4F3E;' class='fa-solid fa-arrow-up-right-from-square'></i></a>" %>
        <% end %>
        <%= raw text_with_links %>
        <%#= digital["contents"] %>
      </dd>
    </div>
<% end %>

    <% if digital["notes"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Notes:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["notes"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["title"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Title:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["title"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["caption"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Caption:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["caption"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["credit"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Credit:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["credit"]%>
      </dd>
    </div>
    <% end %>
    <% if digital["content_type"].present? %>
    <div class="row">
  <dt class="subheading col-md-3">Content Type:</dt>
  <dd class="col-md-9 subheading_values preserve_line_break">
    <%= digital["content_type"]%>
  </dd>
</div>
    <% end %>
    <% if digital["featured"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Featured:</dt>
      <dd class="col-md-9 subheading_values">
        <%= digital["featured"]%>
      </dd>
    </div>
    <% end %>
    <hr class="solid-line">
<%end %>
<% end %>
  <h3 class="separator_head">Dates</h3>
  <% JSON.parse(@document.dates).each do |date| %>

  <% if date["date"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Date:</dt>
      <dd class="col-md-9 subheading_values">
        <%= date["date"]%>
      </dd>
    </div>
    <% end %>
    <% if date["type"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Type:</dt>
      <dd class="col-md-9 subheading_values">
        <%= date["type"]%>
      </dd>
    </div>
    <% end %>
    <% if date["source"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Source:</dt>
      <dd class="col-md-9 subheading_values">
        <%= date["source"]%>
      </dd>
    </div>
    <% end %>
    <% if date["notes"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Notes:</dt>
      <dd class="col-md-9 subheading_values">
        <%= date["notes"]%>
      </dd>
    </div>
    <% end %>

    <hr class="solid-line">
<%end %>

  <h3 class="separator_head">LOCATION</h3>
  <% JSON.parse(@document.location).each do |loc| %>
  <% if loc["address"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Address:</dt>
      <dd class="col-md-9 subheading_values">
        <%= loc["address"]%>
      </dd>
    </div>
    <% end %>
    <% if loc["venue"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Venue:</dt>
      <dd class="col-md-9 subheading_values">
        <%= loc["venue"]%>
      </dd>
    </div>
    <% end %>
    <% if loc["latitude"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Latitude:</dt>
      <dd class="col-md-9 subheading_values">
        <%= loc["latitude"]%>
      </dd>
    </div>
    <% end %>
    <% if loc["longitude"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Longitude:</dt>
      <dd class="col-md-9 subheading_values">
        <%= loc["longitude"]%>
      </dd>
    </div>
    <% end %>
    <% if loc["url"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">URL:</dt>
      <dd class="col-md-9 subheading_values">
        <a href="<%= loc["url"] %>" target="_blank"><%=  loc["url"] %></a>

      </dd>
    </div>
    <% end %>
    <% if loc["notes"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Notes:</dt>
      <dd class="col-md-9 subheading_values">
        <%= loc["notes"]%>
      </dd>
    </div>
    <% end %>

    <hr class="solid-line">
  <%end %>

<!--  content-->
  <h3 class="separator_head">CONTENT</h3>

  <% if @document.contents.present? %>
    <div class="row">
      <dt class="subheading col-md-3">Contents:</dt>
      <dd class="col-md-9 subheading_values preserve_line_break">
        <% link_pattern = /\[https:\/\/([^ \]]+)\]/ %>
        <% processedContents =  @document.contents.gsub(link_pattern) do |match| %>
          <% url = $1 %>
          <% "<a href='https://#{url}' target='_blank' data-bs-toggle='tooltip' data-bs-placement='top' title='#{url}' style='display: inline-block;'>
            <i style='font-size: 12px; color: #9C4F3E;' class='fa-solid fa-arrow-up-right-from-square'></i></a>" %>
        <% end %>
        <%= raw processedContents %>
        <%#= @document.contents%>
      </dd>
    </div>
  <% end %>
  <% if @document.content_notes.present? %>
  <div class="row">
    <dt class="subheading col-md-3">Notes:</dt>
    <dd class="col-md-9 subheading_values preserve_line_break">
      <%= @document.content_notes%>
    </dd>
  </div>
  <% end %>

  <hr class="solid-line">

<!--  Notes-->
  <h3 class="separator_head">NOTES</h3>
  <% if @document.notes.present? %>
  <% JSON.parse(@document.notes).each do |note| %>

  <% if note["type"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Type:</dt>
      <dd class="col-md-9 subheading_values">
        <%= note["type"]%>
      </dd>
    </div>
    <% end %>
    <% if note["note"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Note:</dt>
      <dd class="col-md-9 subheading_values">
        <%= note["note"]%>
      </dd>
    </div>
    <% end %>
  <% end %>
    <hr class="solid-line">
   <% end %>

<!--Related works-->
  <h3 class="separator_head">RELATED WORKS</h3>
  <% JSON.parse(@document.related_works).each do |related_work| %>

  <% if related_work["citation"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">Citation:</dt>
      <dd class="col-md-9 subheading_values">
        <%= related_work["citation"]%>
      </dd>
    </div>
    <% end %>
    <% if related_work["url"].present? %>
    <div class="row">
      <dt class="subheading col-md-3">URL:</dt>
      <dd class="col-md-9 subheading_values">

        <a href="<%= related_work["url"] %>" target="_blank"><%=  related_work["url"] %></a>

      </dd>
    </div>
    <% end %>

    <hr class="solid-line">
  <% end %>

</div>

<% content_for(:sidebar) do %>
  <%= render_document_sidebar_partial @document %>
<% end %>

<div class="modal fade" id="iframe-audio-play" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="mx-auto">
        <a class="advanced_search btn btn-secondary show-content" id="open-full-screen-button" target="_blank">Open Full Screen</a>
        </div>
        <div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="iframe-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
          <iframe id="audio-iframe" src=""
                  title="" width="100%" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>-->

<script>
    // // Initialize Bootstrap tooltips
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>


<script>
    $(document).ready(function() {
$(".show-content").click(function(){
    var fileLink = $(this).data("file-link");
    const parsedUrl = new URL(fileLink);

    if(parsedUrl.hostname.includes('youtube.com')) {
        const params = new URLSearchParams(parsedUrl.search);
        console.log('Hello its youtube');
        // const queryString = parsedUrl.search;
        const videoId = params.get('v');
        const youtubeLink = "https://www.youtube.com/embed/"+videoId;
        fileLink = youtubeLink;
        console.log(youtubeLink);
    }


    $("#audio-iframe").attr("src", fileLink);
    $("#open-full-screen-button").attr("href", fileLink);
})
    });
</script>